.body {
    font-family: var(--font-mono);
    position: relative;
    clear: both;
}

.testButton {
    position: relative;
    font-size: larger;
    margin-top: 1%;
}

.canvas {
    background: rgb(39, 39, 39);
}

.scene {
    height: 80vh;
}

.follow {
    position: absolute;
    color: black;
    z-index: 100;
    border: 2px solid black;
    background: #FCF0CC;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }